
body{
    background-color: #defffe;
    margin: 0;
    font-size: 1.5em;
    
   
}
h1{
    font-size: 5rem;
    margin: 50px auto 1px auto;
    padding-top: 90px;
    font-family: 'Stalemate', cursive;
    color:#136185;
   
}
h2{
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
p{
    color:#0e2b38;
font-family: 'Manrope', sans-serif;
font-size: 1.4rem;
}  

.top{
    
    background-color: #defffe;
    text-align: center;
    padding-top: 80px;
    position: relative;
    
    

}
span{
    text-decoration: underline;
}

.up-cloud{
    position: absolute;
    right:280px;
    top:80px;
  
   

}

.down-cloud{
    position: absolute;
    top: 250px;
    left: 250px;
    

}
.mount{
    height: 50%;
    margin-bottom: 0;
    padding-bottom: 50px;
   
}
.mypic{
    height: 110px;
   border-radius: 100px ;
   border:3px solid rgb(188, 218, 219);
}

footer{
    font-size: 10px;
   
}
.skill-img{
    height: 200px;
}
.skill-img-1{
    height: 200px;
}